<!DOCTYPE html>
<html>
<head>
	<title>Courses!</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'text.css' %}">
</head>
	<body>
		<div id="wrapper">
			<div id="add">
				<h3>Add a new course</h3>
				<form action="/courses/create" method="POST">
					{% csrf_token %}
					<label>
						Name: <input type="text" name="name">
					</label>
					<label>
						Description: <textarea name="desc"></textarea>
					</label>
					<input type="submit" value="Add">
				</form>
			</div>
			<div id="courses">
				<h3>Courses</h3>
				<table>
					<thead>
						<tr>
							<th>Course Name</th>
							<th>Description</th>
							<th>Date Added</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for course in courses %}
							<tr>
								<td>{{ course.course_name }}</td>
								<td>{{ course.description }}</td>
								<td>{{ course.created_at }}</td>
								<td><a href="/courses/courses/destroy/{{course.id}}">Remove</a></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<button><a href="/courses/user_courses">View Users In Courses</a></button>
		</div>
	</body>
</html>